.Letter{
    width:20vw;
    height: 20vh;
    padding: 0;
    margin: 0 -5.5vw;
}
.LetterType{
    width: 10vw !important;
    height: 10vh !important;
    padding: 0;
    margin: 0 !important; 
}

@media (max-width: 500px) {
    .Letter {
        width:13vw;
        height: 13vh;
        padding: 0;
        margin: 0 -1.0vw;
    }
}