.Keyboard{
    margin:20px auto;
    width: 40%;
    min-height: 100px;
    background: rgb(165, 137, 137);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px salmon;
}