.Button{
    text-align: center;
    width: 6.5%;
    padding:1% 0;
    margin: 10px 10px;
    color: rgb(37, 25, 25);
    font-size: 100%;
    box-shadow: 4px 4px 4px black;
    border-radius: 3px;
    border: none;
    background: -moz-linear-gradient(rgb(95, 88, 121),rgba(185, 156, 185, 0.884));
    background: linear-gradient(rgba(185, 156, 185, 0.884),rgb(95, 88, 121));
}

.Button:hover{
    cursor: pointer;
    background: -moz-linear-gradient(rgb(95, 88, 121),rgba(185, 156, 185, 0.884));
    background: linear-gradient(rgb(95, 88, 121),rgba(185, 156, 185, 0.884));
}
.Button:active{
    position: relative;
    top:2px;
    left: 2px;
}

.Button:disabled{
    cursor: no-drop;
    color:red;
    background: none;
}
.Succes{
    background-color: transparent !important;
    box-shadow: 0 0 0 snow;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    background: none !important;
    padding: 10px !important;
    margin: 10px !important;
    font-weight: bold;
    color: green !important;
}
.Danger{
    background-color: transparent !important;
    box-shadow: 0 0 0 snow;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    background: none !important;
    padding: 10px !important;
    margin: 10px !important;
    font-weight: bold;
    color: red !important;
}
.Cloud{
   font-size: 20px;
    border-radius: 30%;
    padding: 20px 100px !important;
    background: -moz-linear-gradient();
    background: linear-gradient(rgb(84, 63, 241),rgb(15, 8, 31))
}