.MainPage{
    z-index: -10;
    width: 100%;
    height: 100vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    background: -moz-linear-gradient(rgb(130, 196, 135),rgb(31, 49, 32));
    background: linear-gradient(rgb(133, 206, 139),rgb(26, 41, 27));
   overflow: hidden;
    
}
.FirstRow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:10vh auto;
    
}
.FirstRow div{
    transition: all 0.3s ease-in-out;  
}
.SecondRow{
    width: 100%;
    display: flex;
    justify-content: center;
}
.SecondRow .FirstWord{
    transition: all 0.3s ease-in-out;  
}
.SecondRow .SecondWord{
    transition: all 0.3s ease-in-out;  
    margin-left: 10%;
}

@media (max-width: 500px) {
  .FirstRow{
      margin: 5vh auto;
  }
    
}